@import url('https://fonts.cdnfonts.com/css/modern-sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Assets/bg/placeholder.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;  
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    margin-top: 10%;
    padding: 5px;
    overflow: hidden;
}

.jongol{
    position: absolute;
    margin: 0 auto;
    margin-left: 32%;
    

}

.button-box{
    width: 250px;
    height: 35px auto;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    box-shadow: 0 0 20px 9px #21011b;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    justify-content: center;
    text-align: center;
    
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 140px;
    background: linear-gradient(to right, #501441, #8e3491);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    width: 280px;
    transition: .5s;
    position: absolute;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #501441, #8e3491);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 8%;
}

#login{
    left: 50px;
 
}

#register{
    left: 450px;

}

a, a:hover{
    text-decoration: none;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background:#222;
    padding: 5px 20px;
    z-index: 1;
    display: flex;
    align-items: center;
}


.TTS{
    color:whitesmoke;
    display: inline;
    
}

nav a:hover{
    color:white;
}
.logo img{
    width: 150px;
    margin-right: 10px;
}

.logo {
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu{
    font-family: "modern-sans", sans-serif;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{

    padding: 15px 15px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width: 600px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }
}

