@import url('https://fonts.cdnfonts.com/css/modern-sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "modern-sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
  }

  /* start of header */
  a, a:hover{
    text-decoration: none;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background:#222;
    padding: 5px 20px;
    z-index: 1;
    display: flex;
    align-items: center;
}

nav a:hover{
    color:white;
}
.logo img{
    width: 150px;
    margin-right: 10px;
}

.logo {
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width: 600px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }
}
/* end of header */

  .inner_box{
    max-width: 650px;
    position: absolute;
    display: block;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #171717d0; /*kulay ng bg ng box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
    padding: 30px;
    text-align: center;
    letter-spacing: 2px;
    backdrop-filter: blur(5px); /* frosted effect */
    border-radius: 30px; /* rounded corner ng box */
    text-shadow: 0 0 0.1px white;
  }

  .inner_box h1{
    font-size: 45px;
    color: white;
  }

  .inner_box p{
    margin: 10px;
    font-size: 18px;
    color: white;
  }

  .game_box{
    width: 900px;
    height: 820px;
    position: absolute;
    display: block;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #171717d0; /*kulay ng bg ng box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
    padding: 30px;
    text-align: center;
    letter-spacing: 2px;
    backdrop-filter: blur(10px); /* frosted effect */
    border-radius: 30px; /* rounded corner ng box */
    text-shadow: 0 0 0.1px white;
  }

  .game_box h2{
    font-size: 30px;
    color: white;
  }

  .game_box p{
    font-size: 15px;
    color: white;
  }

  .container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Additional styles for the text */
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  /* glowing orb */
  .glow {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: blue;
    filter: blur(40px);
    pointer-events: none;
    transition: transform 0.3s ease-out;
    animation: glowing 5s ease-in-out infinite;
  }
  
  @keyframes glowing {
    0% {
        background-color: red;
        box-shadow: 0 0 10px red;
    }
    14.3% {
        background-color: orange;
        box-shadow: 0 0 10px orange;
    }
    28.6% {
        background-color: yellow;
        box-shadow: 0 0 10px yellow;
    }
    42.9% {
      background-color: yellow;
      box-shadow: 0 0 10px yellow;
    }
    57.2% {
        background-color: rgb(2, 206, 2);
        box-shadow: 0 0 10px rgb(2, 206, 2);
    }
    71.5% {
        ackground-color: rgb(19, 220, 235);
        box-shadow: 0 0 10px rgb(19, 220, 235);
    }
    85.8% {
      background-color: rgb(203, 16, 255);
      box-shadow: 0 0 10px rgb(203, 16, 255);
    }
    100% {
      background-color: red;
        box-shadow: 0 0 10px red;
    }
  }

  /* image slider */
  .slider {
    width: 840px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
  }

  .slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
  }

  .slider img.active {
    opacity: 1;
  }

  .slider .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .slider .arrow.prev {
    left: 10px;
  }

  .slider .arrow.next {
    right: 10px;
  }

  .slider-bar {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 10px;
  }

  .slider-bar .thumbnail {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  filter: brightness(30%);
  }

  .slider-bar .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .slider-bar .thumbnail.active {
  filter: blur(2px) brightness(100%);
  }

  h1, p {
    text-align: center;
  }
  
  /* Additional Styles */
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.5rem;
  }
 