
@import url('https://fonts.cdnfonts.com/css/modern-sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Modern;
    src: url(Assets/Helvetica.ttf);
}
@font-face {
    font-family: Railee;
    src: url(Assets/triumviratecgcomp.otf)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.indented {
    text-indent: 2em;
  }

body{
    font-family: "modern-sans", sans-serif;
}




a, a:hover{
    text-decoration: none;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background:#222;
    padding: 5px 20px;
    z-index: 1;
    display: flex;
    align-items: center;
}

nav a:hover{
    color:white;
}
.logo img{
    width: 150px;
    margin-right: 10px;
}

.logo {
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

@media screen and (max-width: 600px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }
}

/*top bar end */

.sticky {
    background-image: linear-gradient(180deg,transparent,black 90%),
    url(Assets/StarRail/hsrbg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    height: 630px;
    width: 400px;
    float: left;
    margin-inline: 90px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 25px;
}

.sticky-cont {
    margin-top: 10%;
    position: absolute;
    z-index: 2;
}

.box-cont {
    background-image: linear-gradient(180deg,transparent,black 80%),
    url(Assets/StarRail/hsrbgg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    position: absolute;
    overflow: hidden;
    overscroll-behavior: auto;
}

.box1 {
    margin-top: 5%;
    height: 100%;
    flex: 2;
    flex-wrap: wrap;
    transition: 1s;
    overflow: hidden;
    object-fit: contain;
}

.bg-cont{
    height: 100%;
    position: relative;
}

.imgbg{
    object-fit: inherit;
    height: 100%;
    padding:0;
    margin:0;
    z-index: 1;
    opacity: 1;
    position: absolute;
    filter: blur(10px) brightness(70%);
}

.gifbg{
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 3%;
    opacity: 0;
    z-index: -5;
    position: absolute;
}

.videobg{
    width: 100%; 
    height: 86vh;
    position: fixed;
}

.box2 {
    background-image: linear-gradient(180deg,transparent,#202020 40%),
    url(Assets/StarRail/hsrbg.jpeg);
    background-size: contain;
    margin-top: 5%;
    margin-bottom: 20%;
    padding-top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: black solid 1px;
    flex: 4;
    flex-wrap: wrap;
    transition: opacity 2s;
    overscroll-behavior-y: auto;
}



.lmao {
    margin: 1%;
    margin-top: 1%;
    color: aliceblue; 
    font-family: Modern;
    font-size: 30px;
    max-width: 100%; 
    margin-left: 50px;
}

.lmao1 {
    color: aliceblue;  
    font-family: Modern;
    font-size: 30px;
    max-width: 100%; 
    margin-left: 50px;
    margin-top: 3%;
    text-align: center;
}

.box1:hover{
    flex: 12;
    filter: blur(0px);
}

.box1:hover > .bg-cont img.imgbg{
    display: none;
    opacity: 0; 
    transition: 1s ease-in-out;
}

.box1:hover > .bg-cont .gifbg{
    opacity: 1;
}

.box1:hover + .box2{
    opacity: 0.01;
    flex:3;
    transition: 1s ease-in-out 0.2s;
}

.box1:hover + .box2 > div{
    opacity: 0;
    transition: 0.2s ease;
}

.box1:not(:hover) + .box2 > div{
    opacity: 1;
    transition: 1s ease 0.8s;
}

.box1:hover ~ .sticky-cont{
    opacity: 0;
    transition: 0.5s linear;
}

/*title start */

.title {
    font-family: Railee;
    color: white;
    font-size: 20px;
    height: 100px;
    width: 90%;
    padding: 10px;
    margin: 20px;
    background-color: #222;
    border-radius: 10px;
}

/*title end */


/*illust start */
.container {
    height: 320px;
    width: 50px;
    margin-right: 20px;
    margin-left: 50px;
}

.illust {
    position:relative;
    height: auto; 
    width: 220px;
    animation: 20s flipme linear infinite;
    border-radius: 25px;
    margin: 0 -50px;
}

.illust > img {
    object-fit: contain;
}

.art{
    height: 300px;
    width: 400px;
}

  @keyframes flipme {
    0% {
      transform: rotateY(-30deg) rotateX(0deg);
    }
    50% {
      transform: rotateY(0deg) rotateX(10deg);
    }
    100% {
      transform: rotateY(-30deg) rotateX(0deg);
    }
     
}

.gallery {  
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.photo {
    float: left;
}
  
.gallery img {
    width: 100%;
    height: auto;
    padding: 20px;
    filter: drop-shadow(0px 0px 4px white);
  
  }

.desc {
    padding: 15px;
    text-align: center;
    color: white;
  }


#comments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

.comments-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: aliceblue;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 25px;
}

/* .comments-heading span{
    font-size: 1.3rem;
    color: aliceblue;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
} */

.comments-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.comments-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: aliceblue;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

::selection{
    color: white;
    background-color: #252525;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: felx;
    flex-direction: column;
}

.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span{
    color: #979797;
    font-size: 0.8rem;
}

.reviews{
    color: #f9d71c;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}

/*illust end */

/*
.review-cont {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    position: absolute;
    left: 25%;
    z-index: -2;
}


 